<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quezu.mapper.ImageMapper" >
	<resultMap id="BaseResultMap" type="Image" >
		<id column="i_id" property="id" jdbcType="INTEGER" />
		<result column="p_id" property="productId" jdbcType="VARCHAR" />
		<result column="i_url" property="url" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		i_id, p_id, i_url
	</sql>
	
	<!-- 插入物品图片 -->
	<insert id="insertImage" parameterType="Image">
		insert into tab_image 
			(i_id, p_id, i_url) 
		values 
			(#{id}, #{productId}, #{url})
	</insert>
	
	<!-- 根据物品id查询物品图片 -->
	<select id="selectImagesByProductId" parameterType="String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from tab_image 
		where p_id = #{productId}
	</select>
	
	<!-- 根据id更新物品图片 -->
	<update id="updateImageById" parameterType="Image">
		update tab_image 
		<set>
			<if test="productId != null" >
				p_id = #{productId},
			</if>
			<if test="url != null" >
				i_url = #{url},
			</if>
		</set>
		where i_id = #{id}
	</update>
	
</mapper>