<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quezu.mapper.ImageMapper" >
	<resultMap id="BaseResultMap" type="Image" >
		<id column="i_id" property="id" jdbcType="INTEGER" />
		<result column="p_id" property="productId" jdbcType="INTEGER" />
		<result column="i_url" property="url" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List" >
		i_id, p_id, i_url
	</sql>
	
	<!-- 插入图片 -->
	<insert id="insertImage" parameterType="Image">
		insert into tab_image 
			(i_id, p_id, i_url) 
		values 
			(#{id}, #{productId}, #{url})
	</insert>
	
	<!-- 根据物品ID查找图片 -->
	<select id="selectImageByProductId" parameterType="Integer" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		from tab_image 
		where p_id = #{productId}
	</select>
	
</mapper>